body {
    margin: 0;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.login__form {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    opacity: 1;
    width: 100%;
    max-width: 600px;
    height: 25px;
    z-index: 1;
}

.workarea {
    margin: 60px auto;
    background: #fff;
    opacity: 1;
    width: 100%;
    max-width: 1600px;
    height: 700px;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto; 
}

.header {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.tab-button {
    font-size: 15px;
    border: none;
    cursor: pointer;
    background: #fff;
    outline: none;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    position: relative;
    margin: 20px;
    color: rgb(82, 91, 106);
    text-decoration: none;
    font-weight: 600;

    transition: color 0.4s linear;
  }
  .tab-button:hover {
    border: none;
    color: rgb(17, 88, 204);
  }
  
  .tab-button.active {
    border: none;
    color: rgb(17, 88, 204);
  }

  .tab-button.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: rgb(17, 88, 204);

    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
}

.client__name {
    width: 100%;
    height: 60px;
    background: #eef2f4;
    font-size: 30px;
}

.name {
    margin: 0;
    padding: 5px 20px;
    align-items: center;
}

.placeholder {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.user {
    width: 100%;
    height: 550px;
    font-family: 'Roboto', sans-serif;
}

.user__inner {
    display: flex;
    
}

.photo__cage {
    width: 200px;
    height: 350px;
    margin: 30px;
}

.photo {
    width: 200px;
    height: 266px;
    
    /*content:url(../images/photo.jpg); */
    border: 1px solid rgb(209, 209, 209);
    object-fit:cover;
}

.photo__button {
    background-color: rgb(5, 124, 251);
    width: 200px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.4s linear;
    outline: none;
}

.photo__button:hover {
    background-color: rgb(0, 101, 209);
}

.info {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 30px;
}

.info__header {
    position: relative;
    margin: 10px;
    color: #959595;
}

.info__header::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: rgb(5, 124, 251);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.info__data {
    display: flex;
    justify-content: space-between;
}

.info__list {
    margin: 10px;
    font-size: 14px;
}

.ul1 {
    list-style-type: none;
    padding-left: 0;
    line-height: 30px;
}

.ul2 {
    list-style-type: none;
    padding-left: 0;
    text-align: end;
    line-height: 30px;
}

.table1 {
    margin: 10px;
}

.info2 {
    display: flex;
    flex-direction: column;
}

.td1 {
    width: 150px;
}